<div id="main">
  <div id="maincontainer">
    <div id="content">
  <div id="innercontent">
    <div class="splashh1">{codr}</div> <!-- previously h1 tag -->
    <div class="splashtext">the best python you've ever seen </div> <!-- previously p tag -->
    <div id="signup">
      <a href="https://github.com/login/oauth/authorize?client_id=be249dd939fe1ef1aa3d" class="btn btn-block btn-social btn-lg btn-github">
            <i class="fa fa-github"></i> Sign in with Github</a>
    </div>
   </div>
  <div id="login"></div>
    </div>
  </div>
</div>
