<div id="main" ng-show="person">
  <div id="code">
    <pre class="prettyprint" onload="prettyPrint()">{{person.code_snippet}}</pre>
  </div>
  <button id="refreshbutton" ng-click="sampleSnippet()" type="button">Refresh Snippet</button>
  <div id="name"><h1>{{person.name}}</h1></div>
  <div id="commit">Last commit: {{person.updated_at}}</div>
  <div id="languages">
    <h3>Languages</h3>
    <p>{{person.languages}}</p>
  </div>
  <div id="buttons">
    <button id="zero" ng-click="reject()" type="button">&nbsp;</button>
    <button id="one" ng-click="like()" type="button">&nbsp;</button>
  </div>
</div>
<div id="nomatch" ng-hide="person">
  <div id="holder">{all out of matches}</div>
</div>
