<div id="main" ng-show="user">
  <div id="code" ng-click="sampleSnippet()">
	<div ng-app="Knob" ng-controller="myCtrl">
		<pre class="prettyprint linemus">{{user.code_snippet}}</pre>
	</div>
  </div>
  <div id="name"><h1>{{user.name}}</h1></div>
  <div id="commit">Last commit: {{user.updated_at}}</div>
  <div id="languages">
    <h3>Languages</h3>
    <p>{{user.languages}}</p>
  </div>
  <div id="buttons">
    <button id="viewlistProfile" ng-click="go('/list')" type="button">&nbsp;</button>
    <button id="chat" ng-click="go('/chat/' + user._id)" type="button">&nbsp;</button>
  </div>
</div>
