
#maincontainer {
    position: fixed;
    top: 0;
    left: 0vw;
    margin-top: 0px;
    height: 100vh;
    width: 100vw;
    min-width: 300px;
}
body {
    background-image: url("bg.PNG");
}

@media all and (max-width: 600px) {
   #content {
       width: 92vw;
    }
=======
#companyName  {
	color: #212121;
	font-size: 20vh;
	margin-top: 20vh;
	margin-left: 1vw;
>>>>>>> 13177f16b3108f7c9fb918dfcd3c6c97ac672b2e
}

span{
  animation: blink 1s infinite;
}

<<<<<<< HEAD
@media all and (max-width: 600px) {
   #innercontent {
       width: 92vw;
    }
}

#signup {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    background-color: white;
    border-radius: 5vw;
=======
@keyframes type{
	from { width: 0; }
}
>>>>>>> 13177f16b3108f7c9fb918dfcd3c6c97ac672b2e

@keyframes blink{
	to{opacity: .0;}
}

#info  {
	margin-top: 1vh;
	color: #727272;
	font-size: 5vh;
}

#loginBtn {
	font-size: 4vh;
}
