* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-image: url("../assets/Capture.PNG");
}

#maincontainer {
    position: fixed;
    top: 0;
    left: 0vw;
    margin-top: 0px;
    height: 100vh;
    width: 100vw;
    min-width: 300px;
}

#content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 52vw;
    min-width: 500px;
    height: 50vh;
    border-radius: 15vw;
    background-color: #222222;
    opacity: 0.80;
}

@media screen and (max-width: 600px) {
   #content {
    position: relative;
    top: 10%;
    transform: translateY(0%);
    margin-left: auto;
    margin-right: auto;
    width: 52vw;
    min-width: 500px;
    height: 50vh;
    border-radius: 15vw;
    background-color: #222222;
    opacity: 0.80;
    }
}

#innercontent {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    width: 52vw;
    min-width: 500px;
    transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
    #innercontent {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10%;
	width: 52vw;
	min-width: 500px;
	transform: translateY(0%);
    }
}

#signup {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    background-color: white;
    border-radius: 5vw;

}

h1 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 8em;
    margin-bottom: 1vh;

}

p {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 3vh;
    opacity: 1;
}