* {
    margin: 0;
    padding: 0;
    border: 0;
}


#main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 60vw;
    background-color: gray;
}

#content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 52vw;
    height: 30vh;
    background-color: white;
}

h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 3em;
}