
#viewlistlist {
    border: none;
    float: right;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    background-color: #aaaaaa;
    background-image: url("../img/arrow-back.png");
    background-size: 8vh 8vh;
    background-position: center;
    background-repeat: no-repeat;
}

#viewlistlist:hover {
    border: none;
    background-color:#dddddd;
}
