

.listtitle {
    margin-bottom: 2vh;
    width: 52vw;
    text-align: center;
    color: white;
    margin-top: 2vh;
}

#matching {
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    height: 20vh;
    border-radius: 10vh;
    background-image: url("../img/arrow-back.png");
    background-size: 18vh 18vh;
    background-color: #cccccc;
}

#matching:hover {
    background-color: #ffffff;
}

#matchesbackground {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(34, 34, 34, 0.4);
    width: 100vw;
    height: 100vh;
}

.matched {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(34, 34, 34, 0.4);
    list-style-type: none;
}

#listcontent {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 52vw;
    min-height: 70vh;
    border-radius: 3vw;
    background-color: rgba(34, 34, 34, 0.8);
}

#viewlistlist {
    border: none;
    float: right;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    background-color: #aaaaaa;
    background-image: url("../img/arrow-back.png");
    background-size: 8vh 8vh;
    background-position: center;
    background-repeat: no-repeat;
}

#viewlistlist:hover {
    border: none;
    background-color:#dddddd;
}
