
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-image: url("../assets/Capture.PNG");
}

h3 {
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 2vh;
}

h2 {
    font-size: 1.9em;
    font-weight: normal;
}

h1 {
    font-size: 3em;
    font-weight: normal;
}

p {
    font-size: 1.2em;
    margin-bottom: 1vh;
    color: black;
}

@media all and (max-width: 800px) {
    h2 {
	font-size: 1.1em;
	font-weight: normal;
    }
}

@media all and (max-width: 800px) {
    h3 {
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 2vh;
   }
}

@media all and (max-width: 800px) {
    p {font-size: 1.1em;}
}

@media all and (max-width: 600px) {
    p {font-size: 1em;}
}

@media all and (max-width: 400px) {
    p {font-size: 0.9em;}
}

#main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 60vw;
    background-color: #dddddd;
    opacity: 0.8;
}

#code {
    position: relative;
    float:left;
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-left: 4vw;
    margin-right: 4vw;
    background-image: url("../img/404.gif");
    width: 52vw;
    height: 40vh;
}

#name {
    position: relative;
    float: left;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
    width: 52vw;
    height: 9vh;
    text-align: left;
}

#commit {
    float: left;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: left;
    width: 52vw;
    height: 7vh;
}

#languages {
    float:left;
    width: 52vw;
    margin-right: 4vw;
    margin-left: 4vw;
    height: 17vh;
}

#forks {
    text-align: left;
    float: left;
    width: 22vw;
    height: 20vh;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-bottom: 2vh;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    width: 52vw;
    height: 8vh;
}

.buttonHolder {
    float: left;
    width: 22vw;
    margin-left: 2vw;
    height: 10vh;
}

#zero {
    float: left;
    width: 22vw;
    height: 10vh;
    background-color: #bc0000;
    background-image: url("../img/0_white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#zero:hover {
    background-color: #ff3030;
}

#one {
    float: right;
    width: 22vw;
    height: 10vh;
    background-color: #008000;
    background-image: url("../img/1_white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#one:hover {
    background-color: #00cd00;
}
