
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-image: url("../assets/Capture.PNG");
}

h3 {
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 2vh;
}

h2 {
    font-size: 1.9em;
    font-weight: normal;
}

h1 {
    font-size: 3em;
    font-weight: normal;
}

p {
    font-size: 1.2em;
    margin-bottom: 1vh;
    color: black;
}

@media all and (max-width: 800px) {
    h2 {
	font-size: 1.1em;
	font-weight: normal;
    }
}

@media all and (max-width: 800px) {
    h3 {
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 2vh;
   }
}

@media all and (max-width: 800px) {
    p {font-size: 1.1em;}
}

@media all and (max-width: 600px) {
    p {font-size: 1em;}
}

@media all and (max-width: 400px) {
    p {font-size: 0.9em;}
}

#main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 60vw;
    background-color: rgba(221,221,221,0.8);
}

@media all and (max-width: 800px) {
    #main {
	width: 100vw;
    }
}

#nomatch {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20vw;
    border-radius: 15vw;
    width: 60vw;
    height: 40vh;
    background-color: rgba(34, 34, 34, 0.8);
    text-align: center;
    color: white;
    font-size: 2em;
}

@media all and (max-width: 800px) {
    #nomatch {
	height: 70vh;
	width: 90vw;
	left: 5vw;
	right: 5vw;
	font-size: 1.5em;
    }
}

#holder {
   text-align: center;
   color: white;
   font-size: 2em;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   margin-left: auto;
   margin-right: auto;
}

#code {
    overflow: auto; /* try instead of hiding */
    position: relative;
    float: left;
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 52vw;
    height: 40vh;
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

@media all and (max-width: 800px) {
    #code {
	width: 92vw;
    }
}



#name {
    position: relative;
    float: left;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
    width: 40vw;
    text-align: left;
}

@media all and (max-width: 800px) {
    #name {
	width: 92vw;
    }
}

#commit {
    float: left;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 3.5vh;
    text-align: left;
    font-size: 1.2em;
    width: 52vw;
    /*height: 7vh;*/
}

@media all and (max-width: 600px) {
    #commit {
	width: 92vw;
    }
}

#languages {
    float:left;
    width: 52vw;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-bottom: 3.5vh;
}

#forks {
    text-align: left;
    float: left;
    width: 22vw;
    height: 20vh;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-bottom: 2vh;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    min-width: 25vh;
    height: 10vh;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 5s linear forwards;
    clear: both;
}

.buttonHolder {
    float: left;
    width: 10vw;
    margin-left: 8vw;
    margin-right: 4vw;
    height: 10vh;
}

#matchesButton {
    position: absolute;
    right: 4vw;
    top: 46vh;
    border: none;
    width: 10vh;
    height: 10vh;
    /*border-radius: 5vh;*/
    background-image: url("../img/list.png");
    background-color: rgba(221,221,221,0.8);
    border-radius: 2vh;
    background-size: 8vh 8vh;
    background-position: center;
    background-repeat: no-repeat;
}

#matchesButton:hover {
    border: none;
    background-color: #aaaaaa;
}

@media all and (max-width: 600px) {
    #matchesButton {
	width: 6vh;
	height: 6vh;
	border-radius: 0;
    }
}

#zero {
    position: relative;
    float: left;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    background-color: #bc0000;
    background-image: url("../img/0_white.png");
    background-size: 8vh 8vh;
    background-position: center;
    background-repeat: no-repeat;
}

#zero:hover {
    border: none;
    background-color: #ff0000;
}

#one {
    border: none;
    float: right;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    background-color: #008000;
    background-image: url("../img/1_white.png");
    background-size: 8vh 8vh;
    background-position: center;
    background-repeat: no-repeat;
}


#one:hover {
    border: none;
    background-color: #00cd00;
}


#viewlist {
    border: none;
    width: 35vw;
    /*height: 10vh;*/
    border-radius: 5vh;
    background-color: #888888;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
    /*background-image: url("../img/1_white.png");
    background-size: 8vh 8vh;
    background-position: center;
    background-repeat: no-repeat;*/
}

@media all and (max-width: 800px) {
    #viewlist {
	width: 50vw;
    }
}

#viewlist:hover {
    border: none;
    background-color: #bbbbbb;
}
